<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
	<title>[% basename %][% ": " _ query_description IF query_description %]</title>
  [% IF uri.stylesheet %]
	<link href='[% uri.stylesheet %]' rel='stylesheet' type='text/css' />
  [% END %]
	<link rel="alternate" type="application/rss+xml" title="RSS"
		href='[% uri.entries(user => user, tags => tags, has_link => has_link,
	has_body => has_body, format => "rss" ) %]' />

</head>
<body>
	<h1>
		[% basename %]
	</h1>
