	[% IF entries.count %]
	[% long = "&amp;long_form=1" IF long_form %]
	<div class='prev_page'>
		[% IF page > 1 %]<a href='?page=[% page - 1 %][% long %]'>prev page</a>
		[% ELSE %]prev page[% END %]
	</div>
	<div class='next_page'>
		[% IF page < pages %]<a href='?page=[% page + 1 %][% long %]'>next page</a>
		[% ELSE %]next page[% END %]
	</div>
	<div class='page_num'>
		page [% page %] of [% pages %]
	</div>
	<div class='page_size'>
		[% count %] entries, [% per_page %] per page
	</div>
	[% ELSE %]
	<div class='page_num'>(no results)</div>
	[% END %]
