	<div class='toolbar'>
		<span style='float:left'>
		[% IF current_user %]
			you are: [% current_user %]
		[% ELSE %]
			not logged in
		[% END %]
		</span>
		<a href='[% uri.root %]'>(root)</a>
		| <a href='[% uri.by_date %]'>by date</a>
		| <a href='[% uri.tag_cloud %]'>tagcloud</a>
		| <a href='[% uri.doc('help') %]'>help</a>
		[% IF current_user %]
		| <a href='[% uri.entries( user => current_user ) %]'>entries</a>
		[% END %]
		[% IF current_user %]
		| <a href='[% uri.post_entry %]'>new entry</a>
		| <a href='[% uri.preferences %]'>preferences</a>
		| <a href='[% uri.logout %]'>logout</a>
		[% ELSE %]
		[% IF uri.newuser %]
		| <a href='[% uri.newuser %]'>register</a>
		[% END %]
		| <a href='[% uri.login %]'>login</a>
		[% END %]
	</div>
